# basic workflow pour commencer avec GitHub Actions
name: A Basic Workflow

# actions qui déclenchent le workflow
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

    # permet d'exécuter manuellement le workflow depuis l'interface GitHub
    workflow_dispatch:
    schedule:

# jobs définit les tâches à exécuter
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "16"

            - name: Install dependencies
              run: npm install

            - name: Run tests
              run: npm test
